<!-- nav -->
<nav class="navbar navbar-dark bg-dark" *ngIf="currentUser">
    <div class="menu-items">
        <ul>
            <a *ngFor="let menu of menuList" class="nav-item nav-link" [routerLink]="['/' + menu.state]" routerLinkActive="active">{{menu.title}}</a>
        </ul>
    </div>
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>