/* You can add global styles to this file, and also import other style files */
a { cursor: pointer }

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-end;
}
#particles-js canvas{
    position: absolute;
    width: 80% !important;
    height: 90% !important;
    z-index: -1;
}